(
    version: 1,
    time: 0.0,
    next_entity_id: 21,
    entities: [
        (
            id: 16,
            name: "Enemy_5",
            pos: (
                x: 15,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 7,
            name: "Companion_6",
            pos: (
                x: 18,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 1,
            name: "Companion_0",
            pos: (
                x: 0,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 8,
            name: "Companion_7",
            pos: (
                x: 21,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 9,
            name: "Companion_8",
            pos: (
                x: 24,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 4,
            name: "Companion_3",
            pos: (
                x: 9,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 12,
            name: "Enemy_1",
            pos: (
                x: 3,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 5,
            name: "Companion_4",
            pos: (
                x: 12,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 19,
            name: "Enemy_8",
            pos: (
                x: 24,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 20,
            name: "Enemy_9",
            pos: (
                x: 27,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 10,
            name: "Companion_9",
            pos: (
                x: 27,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 2,
            name: "Companion_1",
            pos: (
                x: 3,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 11,
            name: "Enemy_0",
            pos: (
                x: 0,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 13,
            name: "Enemy_2",
            pos: (
                x: 6,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 3,
            name: "Companion_2",
            pos: (
                x: 6,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 6,
            name: "Companion_5",
            pos: (
                x: 15,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 17,
            name: "Enemy_6",
            pos: (
                x: 18,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 15,
            name: "Enemy_4",
            pos: (
                x: 12,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 14,
            name: "Enemy_3",
            pos: (
                x: 9,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 18,
            name: "Enemy_7",
            pos: (
                x: 21,
                y: 20,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 80,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
    ],
    obstacles: [],
)