(
    version: 1,
    time: 0.0,
    next_entity_id: 9,
    entities: [
        (
            id: 1,
            name: "Unnamed",
            pos: (
                x: 1,
                y: -17,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 6,
            name: "NPC_5",
            pos: (
                x: 0,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 2,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 7,
            name: "Enemy_6",
            pos: (
                x: 0,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 50,
            team_id: 1,
            ammo: 20,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 3,
            name: "Unnamed",
            pos: (
                x: 15,
                y: -8,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 8,
            name: "Light_7",
            pos: (
                x: 0,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 1,
            team_id: 2,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 4,
            name: "Unnamed",
            pos: (
                x: 1,
                y: 1,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 5,
            name: "Player_4",
            pos: (
                x: 16,
                y: -19,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 30,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 2,
            name: "Unnamed",
            pos: (
                x: 4,
                y: -22,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 100,
            team_id: 0,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
    ],
    obstacles: [],
)