(
    version: 1,
    time: 0.0,
    next_entity_id: 7,
    entities: [
        (
            id: 4,
            name: "Camera_0",
            pos: (
                x: 7,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 1,
            team_id: 2,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 5,
            name: "Skeleton Rogue_1",
            pos: (
                x: 3,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 0,
            team_id: 0,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
        (
            id: 6,
            name: "Barbarian_2",
            pos: (
                x: 6,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 0,
            team_id: 0,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
    ],
    obstacles: [],
)