(
    version: 1,
    time: 0.0,
    next_entity_id: 2,
    entities: [
        (
            id: 1,
            name: "Empty_0",
            pos: (
                x: 0,
                y: 0,
            ),
            rotation: 0.0,
            rotation_x: 0.0,
            rotation_z: 0.0,
            scale: 1.0,
            hp: 0,
            team_id: 0,
            ammo: 0,
            cooldowns: {},
            behavior_graph: None,
        ),
    ],
    obstacles: [],
)